:root {
  /* color */
  --color-bg: #eaebed;
  --color-bg-white: #f9f9f9;
  --color-main: #f48220;
  /* font-size */
  /* shadow */
  --box-shadow: 6px 7px 20px 2px #d1d1d1b5;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}
.content_wrap {
  width: 25.875rem;
  height: 46rem;
  position: relative;
  border-radius: 2.625rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-bg-white);
}
.add_btn {
  width: 14.125rem;
  height: 3.438rem;
  border-radius: 2.625rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--color-main);
  color: #fff;
}
